body{
	background: lightblue;
	font-family: Arial;
}

.clear{
	overflow: hidden;
}

.sec1{
	padding: 50px;
	background: #2E86C1;
	font-family: Arial;
	margin: auto;
	text-align: center;

}

.sec2{
	margin: 50px;
	text-align: justify;
}
.formOne{
	margin: 50px;
	
}
.firstForm{
	width: 500px;
	/*border: 1px solid black;*/
	padding: 20px;
	background-size: cover;
	position: fixed;
	right: -15px;
	top: 100px;
}
input[type=text], input[type=email], input[type=file], input[type=date]{
	padding: 10px;
	margin: 10px;
	width: 80%;
	border-radius: 5px;
}
select{
	padding: 10px;
	margin: 10px;
	width: 80%;
	border-radius: 5px;
}

input[type=submit]{
	padding: 10px;
	margin: auto;
	width: 40%;
	background: green;
	color: white;
	font-size: 20px;
}




